.blog-post {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
}

.blog-post > h3 {
	text-align: left;
}

h3 {
  margin-top: 5px;
  margin-bottom: 7px;
}

h5 {
  margin-top: 7px;
  margin-bottom: 25px;
}

.row .col {
  padding: 0 1.25rem;
}

.blog-post-expanded {
    padding: 15px;
    margin-top: 1em;
    text-align: center;
}

.blog-post-expanded > p {
  margin-top: 4em;
  text-align: justify;
  font-size: 1.25rem;
}

.blog-comment {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-right: 50px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  padding-top: 20px;
  flex: 1 0 auto;
}


/* Modal */
.modal2 {
  box-shadow: none;
  max-height: 75vh;
  background-color: transparent;
}
.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}
